<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">Necmettin Çimen
                <span>Full Stack Developer</span>
              </h1>
              <p class="lead  text-white">{{getParameter('home_start_description')}}</p>

            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="ni ni-check-bold"></i>
                  </div>
                  <h6 class="text-primary text-uppercase">Projelerim</h6>
                  <p class="description mt-3">Github üzerinde paylaştığım açık kaynak kodlu projeleri ve daha fazlası.
                  </p>
                  <div>
                    <span class="badge badge-pill badge-primary">angular</span>
                    <span class="badge badge-pill badge-primary">net core</span>
                    <span class="badge badge-pill badge-primary">sql</span>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-primary mt-4">Daha Fazlası</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                    <i class="ni ni-istanbul"></i>
                  </div>
                  <h6 class="text-success text-uppercase">Blog</h6>
                  <p class="description mt-3">Deneyimlerimi aktardığım yazılarım ve sıkça kullandığım design patternler.
                  </p>
                  <div>
                    <span class="badge badge-pill badge-success">design pattern</span>
                    <span class="badge badge-pill badge-success">tutorial</span>
                    <span class="badge badge-pill badge-success">sampltes</span>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-success mt-4">Daha Fazlası</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                    <i class="ni ni-planet"></i>
                  </div>
                  <h6 class="text-warning text-uppercase">Deneyimlerim</h6>
                  <p class="description mt-3">Çalıştığım iş yerleri ve orda yaptığım projeler hakkında kısa bilgiler.
                  </p>
                  <div>
                    <span class="badge badge-pill badge-warning">TFT</span>
                    <span class="badge badge-pill badge-warning">Alpata</span>
                    <span class="badge badge-pill badge-warning">Enal</span>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-warning mt-4">Daha Fazlası</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section team-2">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center mb-5">
          <h3 class="display-3">Son Projelerim</h3>
          <h4 class="lead">Geliştirdiğim veya geliştirmekte olduğum bazı projerim</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6" *ngFor="let project of projects">
          <div class="card card-profile" data-image="profile-image">
            <div class="card-header">
              <h4 class="display-4 mb-0" style="white-space: nowrap;
              width: 300px;
              overflow: hidden;
              text-overflow: ellipsis;">{{project.Name}}</h4>
            </div>
            <div class="card-body pt-0">
              <p class="lead" style="
              height:100px;
              overflow: hidden;
              text-overflow: ellipsis;">{{project.Description}}</p>
              <div class="table-responsive">
                <ul class="list-unstyled">
                  <li class="py-1">
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="badge badge-circle badge-info mr-3"><i class="ni ni-atom"></i></div>
                      </div>
                      <div>
                        <h6 class="mb-1"><a href={{project.Link}} target="_blank">Gözat</a></h6>
                      </div>
                    </div>
                  </li>
                  <li class="py-1">
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="badge badge-circle badge-success mr-3"><i class="ni ni-user-run"></i></div>
                      </div>
                      <div>
                        <h6 class="mb-1">Github</h6>
                      </div>
                    </div>
                  </li>
                  <li class="py-1">
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="badge badge-circle badge-danger mr-3"><i class="ni ni-chart-bar-32"></i></div>
                      </div>
                      <div>
                        <h6 class="mb-1">Daha Fazla</h6>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    <div class="col-lg-3" style="margin: auto !important;">
      <a href="#" style="margin-top: 20px;"
        class="btn btn-lg btn-block btn-primary">Tüm Projeler</a>
    </div>
      </div>
    </div>
    
  </section>
  <section class="section section-lg bg-secondary">
    <div class="container">
      <div class="row row-grid justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="display-3">Sıkça Kullandığım Teknolojiler
          </h2>
         
          <div class="text-center">
            <div class="row justify-content-center">
              <div class="col-lg-2 col-4" *ngFor="let skill of skills">
                <a href="#" target="_blank"
                  placement="top" ngbTooltip={{skill.Name}}>
                  <img
                    src="http:\\{{skill.Icon}}"
                    class="img-fluid">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section blogs-1">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-8">
          <h3 class="display-3">Our recent writings</h3>
          <p class="lead mt-1">The time is now for it to be okay to be great. People in this world shun people for being great.</p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-3">
          <div class="card card-blog card-background" data-animation="zooming">
            <div class="full-background" style="background-image: url('https://app.creative-tim.com/argon_placeholder/theme/josh-appel.jpg')"></div>
            <a href="javascript:;">
              <div class="card-body">
                <div class="content-bottom">
                  <h6 class="card-category text-white opacity-8">New Challenges</h6>
                  <h5 class="card-title">Touch on a trend</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card card-blog card-background" data-animation="zooming">
            <div class="full-background" style="background-image: url('https://app.creative-tim.com/argon_placeholder/theme/john-hoang.jpg')"></div>
            <a href="javascript:;">
              <div class="card-body">
                <div class="content-bottom">
                  <h6 class="card-category text-white opacity-8">New Opportunities</h6>
                  <h5 class="card-title">Constantly growing</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card card-blog card-background" data-animation="zooming">
            <div class="full-background" style="background-image: url('https://app.creative-tim.com/argon_placeholder/theme/kit-suman.jpg')"></div>
            <a href="javascript:;">
              <div class="card-body">
                <div class="content-bottom">
                  <h6 class="card-category text-white opacity-8">Sales Leads</h6>
                  <h5 class="card-title">Configure Blockchain Technology</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="card card-blog card-background" data-animation="zooming">
            <div class="full-background" style="background-image: url('https://app.creative-tim.com/argon_placeholder/sections/damian.jpg')"></div>
            <a href="javascript:;">
              <div class="card-body">
                <div class="content-bottom">
                  <h6 class="card-category text-white opacity-8">AI at the Edge</h6>
                  <h5 class="card-title">Research Byte</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card card-blog card-background" data-animation="zooming">
            <div class="full-background" style="background-image: url('https://app.creative-tim.com/argon_placeholder/sections/ashim.jpg')"></div>
            <a href="javascript:;">
              <div class="card-body">
                <div class="content-bottom">
                  <h6 class="card-category text-white opacity-8">Spectrum</h6>
                  <h5 class="card-title">Data Virtualization</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card card-blog card-background" data-animation="zooming">
            <div class="full-background" style="background-image: url('https://app.creative-tim.com/argon_placeholder/sections/odin.jpg')"></div>
            <a href="javascript:;">
              <div class="card-body">
                <div class="content-bottom">
                  <h6 class="card-category text-white opacity-8">Touch on a trend</h6>
                  <h5 class="card-title">New Challenges</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <button class="btn btn-icon btn-primary mt-4" type="button"><span class="btn-inner--text">Show more</span><span class="btn-inner--icon"><i class="ni ni-bold-right"></i></span></button>
    </div>
  </section>

 
  <section class="section section-lg bg-gradient-default">
    <div class="container pt-lg pb-300">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-white">Build something</h2>
          <p class="lead text-white">According to the National Oceanic and Atmospheric Administration, Ted, Scambos,
            NSIDClead scentist, puts the potentially record low maximum sea ice extent tihs year down to low ice.</p>
        </div>
      </div>
      <div class="row row-grid mt-5">
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-settings text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Building tools</h5>
          <p class="text-white mt-3">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-ruler-pencil text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Grow your market</h5>
          <p class="text-white mt-3">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-atom text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Launch time</h5>
          <p class="text-white mt-3">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section section-lg pt-lg-0 section-contact-us">
    <div class="container">
      <div class="row justify-content-center mt--300">
        <div class="col-lg-8">
          <div class="card bg-gradient-secondary shadow">
            <div class="card-body p-lg-5">
              <h4 class="mb-1">Want to work with us?</h4>
              <p class="mt-0">Your project is very important to us.</p>
              <div class="form-group mt-5" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                  </div>
                  <input class="form-control" placeholder="Your name" type="text" (focus)="focus=true"
                    (blur)="focus=false">
                </div>
              </div>
              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" placeholder="Email address" type="email" (focus)="focus1=true"
                    (blur)="focus1=false">
                </div>
              </div>
              <div class="form-group mb-4">
                <textarea class="form-control form-control-alternative" name="name" rows="4" cols="80"
                  placeholder="Type a message..."></textarea>
              </div>
              <div>
                <button type="button" class="btn btn-default btn-round btn-block btn-lg">Send Message</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>